# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [39]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind, ttest_rel, ttest_1samp

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [6]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [7]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [8]:
pokemon.Legendary.value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [9]:
# This shows the mean
pokemon.groupby(["Legendary"]).agg({"Total":"mean"})

                Total
Legendary
False      417.213605
True       637.384615

In [10]:
# This shows the std_dev
pokemon.groupby(["Legendary"]).agg({"Total":"std"})

                Total
Legendary
False      106.760417
True        60.937389

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [11]:
#h0: the variances of the mean b/w legendary and normal pokemon are not significantly different 
#h : the variances are significantly differnt

legend = pokemon[pokemon["Legendary"] == True]["Total"]
normal = pokemon[pokemon["Legendary"] == False]["Total"]
ttest_ind(legend,normal)

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

```It seems that the pvalue is less than 0.05 
so we must reject the Null Hypothesis that the differences are not significant
And the statistic value is positive which means it is to the right of the null hypothesis
In our test we placed the legendary pokemon as the null hypothesis 
so its the normal pokemon that fall to the right of the null
which means they show a greater variance than the legendary```

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [14]:
pokemon["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [22]:
water = pokemon[pokemon["Type 1"] == "Water"]
others = pokemon[pokemon["Type 1"] != "Water"]

In [26]:
print("Water mean: ",water["Total"].mean())
print("Other mean: ",others["Total"].mean())

Water mean:  430.45535714285717
Other mean:  435.85901162790697

In [28]:
print("Water standard dev: ",water["Total"].std())
print("Other standard dev: ",others["Total"].std())

Water standard dev:  113.1882660643146
Other standard dev:  121.0916823020807

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [29]:
water = pokemon[pokemon["Type 1"] == "Water"]["Total"]
others = pokemon[pokemon["Type 1"] != "Water"]["Total"]

#h0: the variances of the mean b/w water and all other pokemon are not significantly different 
#h : the variances are significantly differnt

ttest_ind(water,others)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

```The p-value is greater than 0.05 so we fail to reject the Null Hypothesis
that the water pokemon and non-water Pokemon are significantly different```

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [34]:
# If we observe a large p-value, for example greater than 0.05 or 0.1 
# then we cannot reject the null hypothesis of identical average scores.
# Returns (statistic, p-value)

att = pokemon["Attack"]
dfen = pokemon["Defense"]

ttest_rel(att,dfen)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

```It seems we have a large p-value we fail to reject the null hypothesis that defense and attack scores are equal```

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [36]:
# Your code here:
mean_sp_att = pokemon["Sp. Atk"]
mean_sp_def = pokemon["Sp. Def"]

ttest_rel(mean_sp_att,mean_sp_def)

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

```because the p-value is below 0.05 we must reject likelihood of the null hyp.
because the t-value is positive then we must consider that the Sp Def average is significantly higher than Sp Att```

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [40]:
a = att - dfen
expected_h0 = 0
ttest_1samp(a, expected_h0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [41]:
b = mean_sp_att - mean_sp_def
expected_h0 = 0
ttest_1samp(b, expected_h0)

Ttest_1sampResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [48]:
pd.crosstab([pokemon[pokemon["Type 1"] == "Water"],pokemon[pokemon["Type 1"] != "Water"]], pokemon[pokemon["Legendary"]])

ValueError: Shape of passed values is (13, 3), indices imply (0, 3)

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: