# Advanced Querying Mongo

Importing libraries and setting up connection

In [2]:
# in terminal
# mongoimport --db companies --collection companies --file companies.json

from pymongo import MongoClient
client = MongoClient("mongodb://localhost")
db = client.get_database("companies")

In [8]:
comp = db.companies.find({})
comp = list(comp)
len(comp)

18801

In [19]:
# We are going to look for all the keys collection for reference
all_doc = list(db.companies.find({}))
keys = list(map(lambda x: x.keys(), all_doc))
print(set([k for lst in keys for k in lst]))

{'founded_day', 'number_of_employees', 'blog_url', 'ipo', 'relationships', 'founded_month', 'partners', '_id', 'image', 'competitions', 'total_money_raised', 'external_links', 'created_at', 'homepage_url', 'blog_feed_url', 'category_code', 'screenshots', 'offices', 'email_address', 'updated_at', 'products', 'tag_list', 'acquisitions', 'funding_rounds', 'video_embeds', 'milestones', 'deadpooled_day', 'overview', 'founded_year', 'twitter_username', 'acquisition', 'permalink', 'phone_number', 'crunchbase_url', 'description', 'deadpooled_month', 'alias_list', 'deadpooled_url', 'deadpooled_year', 'investments', 'name', 'providerships'}

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [17]:
list(db.companies.find({"name":"Babelgum"},{"name":1,"_id":0}))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [82]:
filter_q = {"number_of_employees":{"$gt": 5000}}
project = {"_id":0,"name":1, "number_of_employees": 1}
list(db.companies.find(filter_q, project).sort([("number_of_employees",-1)]).limit(20))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'LG', 'number_of_employees': 177000},
 {'name': 'Ford', 'number_of_employees': 171000},
 {'name': 'Boeing', 'number_of_employees': 160000},
 {'name': 'Digital Equipment Corporation', 'number_of_employees': 140000},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'Bertelsmann', 'number_of_employees': 100000},
 {'name': 'Comcast', 'number_of_employees': 100000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [57]:
filter_q = { "founded_year":{"$gte": 2000, "$lte":2005} }
project = {"_id":0,"name":1, "founded_year": 1}
list( db.companies.find(filter_q, project) )[:20]

[{'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Technorati', 'founded_year': 2002},
 {'name': 'Veoh', 'founded_year': 2004},
 {'name': 'Meetup', 'founded_year': 2002},
 {'name': 'Wesabe', 'founded_year': 2005},
 {'name': 'SmugMug', 'founded_year': 2002},
 {'name': 'LifeLock', 'founded_year': 2005},
 {'name': 'Jangl SMS', 'founded_year': 2005},
 {'name': 'Jingle Networks', 'founded_year': 2005},
 {'name': 'AddThis', 'founded_year': 2004},
 {'name': 'Jajah', 'founded_year': 2005},
 {'name': 'Pando Networks', 'founded_year': 2004}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [115]:
filter_q = { "founded_year":{"$lt": 2010} , "ipo.valuation_amount":{"$gt":100_000_000_00}}
project = {"_id":0,"name":1, "ipo": 1}
list( db.companies.find(filter_q, project) )[:5]

[{'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Amazon',
  'ipo': {'valuation_amount': 100000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 1997,
   'pub_month': 5,
   'pub_day': None,
   'stock_symbol': 'NASDAQ:AMZN'}},
 {'name': 'Tencent',
  'ipo': {'valuation_amount': 11000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2004,
   'pub_month': 6,
   'pub_day': 16,
   'stock_symbol': 'HK:0700'}},
 {'name': 'Groupon',
  'ipo': {'valuation_amount': 12800000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NASDAQ:GRPN'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [81]:
filter_q = { "number_of_employees":{"$lt": 1000} , "founded_year":{"$lt":2005}}
project = {"_id":0,"name":1, "number_of_employees": 1, "founded_year":1 }
list( db.companies.find(filter_q, project).sort( [("number_of_employees",-1)] ).limit(1000) )[:10]

[{'name': 'Infinera Corporation',
  'number_of_employees': 974,
  'founded_year': 2000},
 {'name': 'NorthPoint Communications Group',
  'number_of_employees': 948,
  'founded_year': 1997},
 {'name': '888 Holdings', 'number_of_employees': 931, 'founded_year': 1997},
 {'name': 'Forrester Research',
  'number_of_employees': 903,
  'founded_year': 1983},
 {'name': 'SonicWALL', 'number_of_employees': 900, 'founded_year': 1991},
 {'name': 'Webmetrics', 'number_of_employees': 900, 'founded_year': 1999},
 {'name': 'Cornerstone OnDemand',
  'number_of_employees': 881,
  'founded_year': 1999},
 {'name': 'LivingLink', 'number_of_employees': 800, 'founded_year': 1971},
 {'name': 'Gateway TechnoLabs Pvt Ltd',
  'number_of_employees': 800,
  'founded_year': 1995},
 {'name': 'Good Technology', 'number_of_employees': 800, 'founded_year': 1996}]

### 6. All the companies that don't include the `partners` field.

In [91]:
filter_q = { "partners" : { "$exists" : "false" } }
project = { "_id":0, "name":1 }
list( db.companies.find(filter_q, project)) [:20]

[{'name': 'AdventNet'},
 {'name': 'Flektor'},
 {'name': 'Zoho'},
 {'name': 'Omnidrive'},
 {'name': 'Wetpaint'},
 {'name': 'Postini'},
 {'name': 'Geni'},
 {'name': 'Gizmoz'},
 {'name': 'Digg'},
 {'name': 'Helio'},
 {'name': 'Fox Interactive Media'},
 {'name': 'Lala'},
 {'name': 'Scribd'},
 {'name': 'Slacker'},
 {'name': 'StumbleUpon'},
 {'name': 'MeetMoi'},
 {'name': 'Babelgum'},
 {'name': 'Joost'},
 {'name': 'CBS'},
 {'name': 'Plaxo'}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [94]:
filter_q = { "category_code" : None }
project = { "_id":0, "name":1 }
list( db.companies.find(filter_q, project)) [:20]

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'},
 {'name': 'VidKing'},
 {'name': 'Drigg'},
 {'name': 'SpaceTime'},
 {'name': 'MMDAYS'},
 {'name': 'Inside Group'},
 {'name': 'Touch Clarity'},
 {'name': 'Repeater Store'},
 {'name': 'Tapesh'},
 {'name': 'iPersians'},
 {'name': 'NewPersia'},
 {'name': 'Pyra Labs'},
 {'name': 'Feedmap'},
 {'name': 'NuvoMedia'},
 {'name': 'Intwine'},
 {'name': 'The Weinstein Company'},
 {'name': 'ExecuNet'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [62]:
filter_q = { "number_of_employees":{"$gte": 100, "$lt": 1000} }
project = {"_id":0,"name":1, "number_of_employees": 1}
list( db.companies.find(filter_q, project) )[:20]

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'Jajah', 'number_of_employees': 110},
 {'name': 'Livestream', 'number_of_employees': 120},
 {'name': 'Ustream', 'number_of_employees': 250},
 {'name': 'iContact', 'number_of_employees': 300},
 {'name': 'Yelp', 'number_of_employees': 800},
 {'name': 'Dailymotion', 'number_of_employees': 120},
 {'name': 'RockYou', 'number_of_employees': 106},
 {'name': 'Meebo', 'number_of_employees': 200},
 {'name': 'Eventbrite', 'number_of_employees': 200},
 {'name': 'Conduit', 'number_of_employees': 215},
 {'name': 'Box', 'number_of_employees': 950},
 {'name': 'Redfin', 'number_of_employees': 100},
 {'name': 'Simply Hired', 'number_of_employees': 100},
 {'name': 'oDesk', 'number_of_employees': 120},
 {'name': 'PhotoBox', 'number_of_employees': 600},
 {'name': 'Spreadshirt', 'number_of_employees': 230}]

### 9. Order all the companies by their IPO price in a descending order.

In [104]:
filter_q = { }
project = {"_id":0,"name":1, "ipo.valuation_amount": 1}
res = db.companies.find(filter_q, project)
list( res.sort( [("ipo.valuation_amount",-1)] ) )[:20]

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000}},
 {'name': 'Tencent', 'ipo': {'valuation_amount': 11000000000}},
 {'name': 'Western Digital', 'ipo': {'valuation_amount': 9430000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}},
 {'name': 'BMC Software', 'ipo': {'valuation_amount': 6000000000}},
 {'name': 'Rackspace', 'ipo': {'valuation_amount': 5440000000}},
 {'name': 'Baidu', 'ipo': {'valuation_amount': 4000000000}},
 {'name': 'TripAdvisor', 'ipo': {'valuation_amount': 3273770000}},
 {'name': 'HomeAway', 'ipo': {'valuation_amount': 3000000000}},
 {'name': 'Zillow', 'ipo': {'valuation_amount': 2550000000}},
 {'name': 'Nielsen', 'ipo': {'valuation_amount': 1600000000}},
 {'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000}},
 {'name': 'Chegg', 'ipo': {'valuation_amount': 1100000000}},
 {'name': 'Chegg', 'ipo': {'valuation_amount': 1100000000}},
 {'name': 'RPX Corporation', 'ipo': {'valuation_amount': 1096000000}},
 {'name': 'Higher One', 'ipo': {'valuation_amount': 1060000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [105]:
filter_q = { }
project = {"_id":0,"name":1, "number_of_employees": 1}
res = db.companies.find(filter_q, project)
list( res.sort( [("number_of_employees",-1)] ) )[:10]

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [112]:
filter_q = { "founded_month":{"$gt": 6} }
project = {"_id":0,"name":1, "founded_month": 1}
res = db.companies.find(filter_q, project)
list( res.limit(1000) )[:20]

[{'name': 'Zoho', 'founded_month': 9},
 {'name': 'Omnidrive', 'founded_month': 11},
 {'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Digg', 'founded_month': 10},
 {'name': 'Joost', 'founded_month': 10},
 {'name': 'Plaxo', 'founded_month': 11},
 {'name': 'Powerset', 'founded_month': 10},
 {'name': 'Kyte', 'founded_month': 12},
 {'name': 'eBay', 'founded_month': 9},
 {'name': 'Wesabe', 'founded_month': 12},
 {'name': 'Thoof', 'founded_month': 12},
 {'name': 'SmugMug', 'founded_month': 11},
 {'name': 'LifeLock', 'founded_month': 8},
 {'name': 'Jingle Networks', 'founded_month': 9},
 {'name': 'Pando Networks', 'founded_month': 7},
 {'name': 'Ikan', 'founded_month': 12},
 {'name': 'delicious', 'founded_month': 9},
 {'name': 'AllPeers', 'founded_month': 8},
 {'name': 'Skype', 'founded_month': 8},
 {'name': 'SellABand', 'founded_month': 8}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [107]:
filter_q = { "acquisitions.price_amount":{"$gt": 10_000_00}, "founded_year": {"$lt": 2000} }
project = {"_id":0,"name":1, "founded_year": 1}
res = db.companies.find(filter_q, project)
list( res )[:20]

[{'name': 'Fox Interactive Media', 'founded_year': 1979},
 {'name': 'CBS', 'founded_year': 1986},
 {'name': 'Viacom', 'founded_year': 1971},
 {'name': 'eBay', 'founded_year': 1995},
 {'name': 'Cisco', 'founded_year': 1984},
 {'name': 'Ticketmaster', 'founded_year': 1976},
 {'name': 'Intel', 'founded_year': 1968},
 {'name': 'Scripps Networks Interactive', 'founded_year': 1994},
 {'name': 'Yahoo!', 'founded_year': 1994},
 {'name': 'NetSuite', 'founded_year': 1998},
 {'name': 'Google', 'founded_year': 1998},
 {'name': 'Sony', 'founded_year': 1946},
 {'name': 'Adobe Systems', 'founded_year': 1982},
 {'name': 'Qualcomm', 'founded_year': 1985},
 {'name': 'Citysearch', 'founded_year': 1995},
 {'name': 'The Walt Disney Company', 'founded_year': 1923},
 {'name': 'IAC', 'founded_year': 1995},
 {'name': 'PayPal', 'founded_year': 1998},
 {'name': 'Amazon', 'founded_year': 1994},
 {'name': 'AOL', 'founded_year': 1985}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [103]:
filter_q = { "founded_year":{"$lt": 2010} }
project = {"_id":0,"name":1, "acquisition": 1}
list( db.companies.find(filter_q, project).sort( [("acquisitions.price_amount",-1)] ) )[:20]

[{'name': 'Sprint Nextel',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.theverge.com/2012/10/18/3521256/softbank-buys-sprint-acquisition-news-rumors',
   'source_description': 'SoftBank buys Sprint: everything you need to know about the $20.1 billion acquisition',
   'acquired_year': 2012,
   'acquired_month': 10,
   'acquired_day': 18,
   'acquiring_company': {'name': 'SoftBank', 'permalink': 'softbank'}}},
 {'name': 'Hewlett-Packard', 'acquisition': None},
 {'name': 'Google', 'acquisition': None},
 {'name': 'Amgen', 'acquisition': None},
 {'name': 'Vodafone', 'acquisition': None},
 {'name': 'Viacom', 'acquisition': None},
 {'name': 'Microsoft', 'acquisition': None},
 {'name': 'Nokia', 'acquisition': None},
 {'name': 'Intel', 'acquisition': None},
 {'name': 'Cisco', 'acquisition': None},
 {'name': 'The Walt Disney Company', 'acquisition': None},
 {'name': 'Texas Instruments', 'acquisition': None},
 {'name': 'Hologic', 'acquisition': None},
 {'name': 'SAP', 'acquisition': None},
 {'name': 'Xerox',
  'acquisition': {'price_amount': 32500000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://www.webpronews.com/3d-systems-buys-a-chunk-of-xerox-for-32-5-million-2013-12',
   'source_description': ' 3D Systems Buys A Chunk Of Xerox For $32.5 Million ',
   'acquired_year': 2013,
   'acquired_month': 12,
   'acquired_day': 18,
   'acquiring_company': {'name': '3D Systems', 'permalink': '3d-systems'}}},
 {'name': 'McKesson', 'acquisition': None},
 {'name': 'Yahoo!', 'acquisition': None},
 {'name': 'Panasonic', 'acquisition': None},
 {'name': 'AOL', 'acquisition': None},
 {'name': 'KDDI', 'acquisition': None}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [108]:
filter_q = {  }
project = {"_id":0,"name":1, "founded_year": 1}
res = db.companies.find(filter_q, project)
list( res )[:20]

[{'name': 'AdventNet', 'founded_year': 1996},
 {'name': 'Flektor', 'founded_year': None},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Postini', 'founded_year': 1999},
 {'name': 'Geni', 'founded_year': 2006},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Fox Interactive Media', 'founded_year': 1979},
 {'name': 'Lala', 'founded_year': None},
 {'name': 'Scribd', 'founded_year': 2007},
 {'name': 'Slacker', 'founded_year': 2006},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'MeetMoi', 'founded_year': 2007},
 {'name': 'Babelgum', 'founded_year': 2007},
 {'name': 'Joost', 'founded_year': 2006},
 {'name': 'CBS', 'founded_year': 1986},
 {'name': 'Plaxo', 'founded_year': 2002}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [113]:
filter_q = { "founded_day": {"$lte":7} }
project = {"_id":0,"name":1, "founded_year": 1}
res = db.companies.find(filter_q, project)
list( res.sort( [("acquisitions.price_amount",-1)] ).limit(10) )

[{'name': 'Google', 'founded_year': 1998},
 {'name': 'Microsoft', 'founded_year': 1974},
 {'name': 'Yahoo!', 'founded_year': 1994},
 {'name': 'Juniper Networks', 'founded_year': 1996},
 {'name': 'FlowPlay', 'founded_year': 2006},
 {'name': 'eBay', 'founded_year': 1995},
 {'name': 'IAC', 'founded_year': 1995},
 {'name': 'OpenText', 'founded_year': 1991},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'PayPal', 'founded_year': 1998}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [114]:
filter_q = { "category_code": "web", "number_of_employees": {"$gt": 4000} }
project = {"_id":0,"name":1, "number_of_employees": 1}
res = db.companies.find(filter_q, project)
list( res.sort( [("number_of_employees",-1)] ) )

[{'name': 'Experian', 'number_of_employees': 15500},
 {'name': 'eBay', 'number_of_employees': 15000},
 {'name': 'Yahoo!', 'number_of_employees': 13600},
 {'name': 'Rakuten', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group', 'number_of_employees': 10000},
 {'name': 'Groupon', 'number_of_employees': 10000},
 {'name': 'Webkinz', 'number_of_employees': 8657},
 {'name': 'AOL', 'number_of_employees': 8000},
 {'name': 'Expedia', 'number_of_employees': 4400}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [132]:
# doesn't work with EUR 
filter_q = { "acquisition.price_amount": {"$gt": 10000000}, "acquisition.price_currency_code": "EUR"}
project = {"_id":0,"name":1, "acquisition.price_amount": 1}
res = db.companies.find(filter_q, project)
list( res )

[{'name': 'ZYB', 'acquisition': {'price_amount': 31500000}},
 {'name': 'Apertio', 'acquisition': {'price_amount': 140000000}},
 {'name': 'Greenfield Online', 'acquisition': {'price_amount': 40000000}},
 {'name': 'Webedia', 'acquisition': {'price_amount': 70000000}},
 {'name': 'Wayfinder', 'acquisition': {'price_amount': 24000000}},
 {'name': 'Tuenti Technologies', 'acquisition': {'price_amount': 70000000}},
 {'name': 'BioMed Central', 'acquisition': {'price_amount': 43400000}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [123]:
filter_q = { "founded_month":{"$lte": 4} }
project = {"_id":0,"name":1, "acquisition": 1}
res = db.companies.find(filter_q, project)
list( res.limit(10) )

[{'name': 'Gizmoz',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.gizmoz.com',
   'source_description': 'TechCrunch',
   'acquired_year': 2009,
   'acquired_month': 12,
   'acquired_day': 15,
   'acquiring_company': {'name': 'Daz 3d', 'permalink': 'daz-3d'}}},
 {'name': 'Helio',
  'acquisition': {'price_amount': 39000000,
   'price_currency_code': 'USD',
   'term_code': 'stock',
   'source_url': 'http://news.cnet.com/8301-10784_3-9978991-7.html',
   'source_description': 'Virgin Mobile USA buys Helio for $39 million',
   'acquired_year': 2008,
   'acquired_month': 6,
   'acquired_day': 27,
   'acquiring_company': {'name': 'Virgin Mobile USA',
    'permalink': 'virgin-mobile'}}},
 {'name': 'StumbleUpon',
  'acquisition': {'price_amount': 29000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2009/04/13/ebay-unacquires-stumbleupon/',
   'source_description': "StumbleUpon Beats Skype In Escaping EBay's Clutches",
   'acquired_year': 2009,
   'acquired_month': 4,
   'acquired_day': None,
   'acquiring_company': {'name': 'StumbleUpon', 'permalink': 'stumbleupon'}}},
 {'name': 'Babelgum', 'acquisition': None},
 {'name': 'Twitter', 'acquisition': None},
 {'name': 'Facebook', 'acquisition': None},
 {'name': 'Mahalo', 'acquisition': None},
 {'name': 'Meetup', 'acquisition': None},
 {'name': 'Jangl SMS', 'acquisition': None},
 {'name': 'Prosper', 'acquisition': None}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [139]:
filter_q = { "founded_year":{"$gte":2000,"$lte": 2010}, "acquisitions.acquired_year":{"$gte":2011} }
project = {"_id":0,"name":1, "acquisitions.acquired_year": 1}
list( db.companies.find(filter_q, project) )[:2]

[{'name': 'StumbleUpon',
  'acquisitions': [{'acquired_year': 2009}, {'acquired_year': 2013}]},
 {'name': 'Twitter',
  'acquisitions': [{'acquired_year': 2008},
   {'acquired_year': 2008},
   {'acquired_year': 2009},
   {'acquired_year': 2010},
   {'acquired_year': 2010},
   {'acquired_year': 2010},
   {'acquired_year': 2010},
   {'acquired_year': 2010},
   {'acquired_year': 2011},
   {'acquired_year': 2011},
   {'acquired_year': 2011},
   {'acquired_year': 2011},
   {'acquired_year': 2011},
   {'acquired_year': 2011},
   {'acquired_year': 2012},
   {'acquired_year': 2012},
   {'acquired_year': 2012},
   {'acquired_year': 2012},
   {'acquired_year': 2012},
   {'acquired_year': 2012},
   {'acquired_year': 2012},
   {'acquired_year': 2013},
   {'acquired_year': 2013},
   {'acquired_year': 2013},
   {'acquired_year': 2013},
   {'acquired_year': 2013},
   {'acquired_year': 2013},
   {'acquired_year': 2013},
   {'acquired_year': 2013}]}]

### 20. All the companies that have been 'deadpooled' after the third year.

In [140]:
{ "$cond" : { if: {"$subtract": [ "deadpooled_year", "founded_year"} >  3] then: <true-case>, else: <false-case> } }
for i in 

diff = { "$subtract": [ "deadpooled_year", "founded_year" ] }
filter_q = {"$where": diff > 3}
project = {"_id":0,"name":1, "founded_year": 1, "deadpooled_year": 1}
res = db.companies.find(filter_q, project)
list( res )

TypeError: '>' not supported between instances of 'dict' and 'int'